/* ========================================= */
/* GLOBAL STYLES AND MOBILE FIRST */
/* ========================================= */

* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #f7d9d9;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    color: #532c4c;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #534c4c;
}

#logo {
    text-align: center;
    font-size: 1.4em;
    margin: 20px 0 0 0;
}

.highlighted {
    color: #c158ad;
    font-size: 0.8em;
}

header ul {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 0;
}

header li {
    display: block;
    padding: 10px;
    background-color: #eee;
    
}

.fa {
    margin-left: 10px;
    font-size: 1em;
}

.menu-collapser {
    background-color: #aaa;
    text-align: center;
}

nav a {
    background-color: #50657b;
}

.slimmenu ul > li a {
    background-color: #fcfcfc;
}

ul.slimmenu li > ul {
    background-color: #fff;
}

.sale-text {
    color: #dd5454;
}

