<!DOCTYPE html>
<html lang="en">

<head>
    <!-- what charset -->
    <meta charset="utf-8">
    <title>Some Website - Home Page</title>
    {{!-- <link rel="stylesheet" href="./css/style.css"> --}}
</head>

<body>
    <h1>Maintenance</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto voluptates at, exercitationem dolores eos dolore sint quidem repellendus, sunt consequatur necessitatibus? Facilis consequatur dicta voluptatem? Aperiam non incidunt laborum possimus doloremque voluptatibus veritatis, voluptatem quidem odit, rerum ut deserunt enim nulla, similique illo iusto harum deleniti debitis nam velit! Fugiat rerum numquam commodi voluptatem vitae saepe praesentium dicta voluptates dolore, fugit rem repudiandae, omnis obcaecati consectetur dignissimos minus vero in ipsum voluptatibus doloremque? Saepe nisi harum cum. Fugiat soluta inventore possimus blanditiis dolore doloribus non id nesciunt, dolores quia officiis voluptas consequuntur omnis nemo dignissimos repellat? Vero aut commodi repellendus dolore sit repellat cupiditate corrupti ratione nesciunt dolores officiis perspiciatis facere, quos placeat culpa nulla quas maxime sunt deleniti nobis molestias, harum architecto? Aperiam suscipit dolorum, tempora quas beatae fuga omnis ipsam ipsum, magnam quam doloribus totam est itaque inventore porro, commodi maxime tempore nobis fugiat quae. Doloremque deserunt a magni, unde quam soluta laboriosam quod iusto quas est? Delectus ex veritatis, excepturi quam animi dolore doloremque suscipit quibusdam a? Omnis ab nobis adipisci rerum iste quod esse exercitationem dolore, consequatur autem quibusdam eius repellendus at delectus eum expedita beatae tenetur sint? Vero consequuntur laborum dolorum deleniti expedita laudantium esse adipisci, beatae optio perspiciatis, architecto excepturi. Magni maxime at corporis explicabo iste vel, facere voluptatibus, reiciendis minus accusamus adipisci animi asperiores omnis minima aliquam repudiandae tenetur quos quaerat aliquid, aperiam velit esse? Officiis, fuga veniam? Ratione, soluta tenetur! Aut eveniet officia optio dolorum quos eos ea tempora. Omnis, debitis velit.</p>
</body>

</html>