/* Your code goes here */
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* align-content: flex-start; */
    align-items: flex-start;
    border: 1px solid white;
    margin: 2px;
    height: 250px;
    width: 500px;
}

.container div:nth-child(2) {
    order: -1;
    align-self: stretch;
}

.container div:nth-child(5) {
    order: 1;
    align-self: stretch;
}

.container div:nth-child(3) {
    order: 5;
    align-self: center;
}