*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(85, 85, 85, 1);
    font-family: 'Lato','Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}