.wrapper {
    display: flex;
    background-color: aqua;
    /* left right */
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    justify-content: flex-start;
    /* justify-content: space-between; */
    
    height: 100vh;
    
    align-items: center;
}

.item {
    background-color: orange;
    margin: 5px;
    padding: 50px;
    /* height: 100px; */
    
    flex: 1;
}

.last {
    flex: 4;
}