<!DOCTYPE html>
<html lang="en">

<head>
    <!-- what charset -->
    <meta charset="utf-8">
    <title>Some Website - Home Page</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    {{> header}}
    {{!-- <p>{{welcomeMessage}}</p> --}}
    <p>{{screamIt welcomeMessage}}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit minus consequuntur illo expedita molestias suscipit debitis maxime commodi autem. Eos temporibus quod aperiam a illo ullam tenetur, ipsam molestias! Culpa tenetur aliquid nesciunt. Eius illum impedit enim assumenda aliquid perspiciatis dolores nulla ad cupiditate fugit excepturi saepe, ipsa, ea vero est nostrum ratione asperiores ut voluptatum dolore! Consequuntur reprehenderit dolor atque rerum ex dolorum quaerat accusantium, at, expedita inventore nam voluptate perferendis. Adipisci voluptatum ipsa fugit dolores, maiores amet voluptatibus, recusandae rerum qui, voluptatem earum. Porro ab nostrum aperiam est, optio ipsa harum voluptatibus tenetur cumque assumenda adipisci eum deleniti?</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non perferendis porro odit quidem hic fugiat ipsum iusto maxime. Natus culpa, incidunt nulla accusamus at similique vero pariatur voluptates molestiae dolorem. Autem nihil blanditiis doloremque eos, magni, veniam quod id ducimus laudantium perspiciatis eveniet fuga numquam, deserunt harum enim quidem facilis.</p>
    {{!-- <footer>
        <p>Copyright {{currentYear}}</p>
    </footer> --}}
    {{> footer}}
</body>

</html>